.input_container {
    border: 1px solid white;
    border-radius: 16px;
    flex: 1;
    display: flex;
    justify-content: space-around;

    img {

    }

    input {
        width: 95%;
        padding: 0;
        border: 0;
        background-color: #242424;
    }
}